Repository adobecom/milo, changes with the owners that CODEOWNERS names for each.
All owners: @adobecom/admins, @hparra, @fullcolorcoder, @ryanmparrish, @Sartxi, @chrischrischris, @rgclayton, @meganthecoder, @Brandon32, @JasonHowellSlavin, @sanjayms01, @Axelcureno, @VKniaz, @seanchoi-dev, @overmyheadandbody, @mokimo, @narcis-radu, @elan-tbx, @auniverseaway, @3ch023, @honstar, @npeltier, @vladen, @yesil, @colloyd, @sabyamon, @JackySun9, @elaineskpt, @echampio-at-adobe

temporarily remove exclude path
  tools/sidekick/config.json
Owners: none

Remove DNS blocking issue
  libs/blocks/locui/loc/index.js
Owners: none

MWPW-137162: [LocUI] Temporarily remove exclude path for localization (#1364)
  tools/sidekick/config.json
Owners: none

Add support for sections
  libs/features/personalization/personalization.js
Owners: @adobecom/admins

Remove special handling for section-metadata
  libs/features/personalization/personalization.js
Owners: @adobecom/admins

MWPW-136586 Set CTA link default behavior to same tab
  libs/blocks/caas/utils.js
  test/blocks/caas-config/caas-config.test.html
  test/blocks/caas-config/expectedConfigs/defaultConfig.js
  test/blocks/caas/utils.test.js
Owners: @chrischrischris

MWPW-135816 enable ability to get forced VAT exclusive prices (#1359)
  libs/blocks/merch/merch.js
  libs/blocks/ost/ost.js
  test/blocks/merch/merch.test.js
  test/blocks/merch/mocks/body.html
  test/blocks/ost/ost.test.js
Owners: @3ch023, @honstar, @VKniaz, @npeltier, @Axelcureno, @vladen, @yesil

MWPW-136429 Transform Image alt links
  libs/utils/utils.js
Owners: @adobecom/admins

rename link to url
  libs/utils/utils.js
Owners: @adobecom/admins

add text legal sizes for decorate and cleanup
  libs/blocks/text/text.css
  libs/blocks/text/text.js
  libs/styles/styles.css
  libs/utils/decorate.js
Owners: @ryanmparrish, @adobecom/admins

CODEOWNERS:

# Milo CODEOWNERS
# When you create a new block or tool please establish ownership in this file.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Milo Core (alphabetical order)
/fstab.yaml @adobecom/admins
/libs/features/ @adobecom/admins
/libs/features/seotech/ @hparra
/libs/features/title-append/ @hparra
/libs/martech/ @adobecom/admins
/libs/scripts/ @adobecom/admins
/libs/utils/ @adobecom/admins

# Milo Blocks (alphabetical order)
/libs/blocks/accordion/ @fullcolorcoder @ryanmparrish
/libs/blocks/aside/ @Sartxi
/libs/blocks/caas/ @chrischrischris
/libs/blocks/caas-config/ @chrischrischris
/libs/blocks/carousel/ @rgclayton
/libs/blocks/chart/ @meganthecoder @Brandon32 @JasonHowellSlavin @sanjayms01
/libs/blocks/commerce/ @Axelcureno @VKniaz
/libs/blocks/faas/ @seanchoi-dev
/libs/blocks/faas-config/ @seanchoi-dev
/libs/blocks/fragment-personalization/ @chrischrischris
/libs/blocks/global-footer/ @overmyheadandbody @mokimo @narcis-radu
/libs/blocks/global-navigation/ @overmyheadandbody @mokimo @narcis-radu
/libs/blocks/how-to/ @fullcolorcoder @ryanmparrish
/libs/blocks/icon-block/ @elan-tbx
/libs/blocks/local-nav/ @seanchoi-dev
/libs/blocks/marketo/ @Brandon32
/libs/blocks/marketo-config/ @Brandon32
/libs/blocks/marquee/ @ryanmparrish @Sartxi @auniverseaway
/libs/blocks/media/ @ryanmparrish
/libs/blocks/merch/ @3ch023 @honstar @VKniaz @npeltier @Axelcureno
/libs/blocks/merch-card/ @VKniaz @Axelcureno @ryanmparrish
/libs/blocks/ost/ @Axelcureno @3ch023 @honstar @VKniaz @vladen @yesil @npeltier
/libs/blocks/pdf-vewer/ @sanjayms01
/libs/blocks/quiz/ @colloyd @sabyamon @fullcolorcoder @JackySun9 @elaineskpt @echampio-at-adobe
/libs/blocks/quiz-results/ @colloyd @sabyamon @fullcolorcoder @JackySun9 @elaineskpt @echampio-at-adobe
/libs/blocks/quote/ @ryanmparrish
/libs/blocks/table-of-contents/ @Brandon32
/libs/blocks/tabs/ @ryanmparrish
/libs/blocks/tag-selector/ @meganthecoder
/libs/blocks/text/ @ryanmparrish
/libs/blocks/video-metadata/ @hparra
/libs/blocks/z-pattern/ @ryanmparrish

# Milo Tools (alphabetical order)
/tools/caas-import/ @chrischrischris
/tools/send-to-caas/ @chrischrischris
