Repository adobecom/milo, changes with the owners that CODEOWNERS names for each.
All owners: @adobecom/admins, @hparra, @meganthecoder, @JasonHowellSlavin, @Brandon32, @rgclayton, @fullcolorcoder, @ryanmparrish, @Sartxi, @chrischrischris, @adobecom/tacocat, @seanchoi-dev, @elan-tbx, @salonijain3, @bandana147, @sharmrj, @nishantka, @Deva309, @sonawanesnehal3, @auniverseaway, @colloyd, @sabyamon, @JackySun9, @nkthakur48

MWPW-151430 [MILO][MEP] not in front of a segment does not work (#2401)
  libs/features/personalization/entitlements.js
  libs/features/personalization/stage-entitlements.js
Owners: @adobecom/admins

Actually fixing original bug in sidekick
  tools/send-to-caas/send-utils.js
Owners: @chrischrischris

POC to try auto-ups as an opt in solution to solve this w/ out regression
  libs/blocks/action-item/action-item.css
  libs/blocks/section-metadata/section-metadata.css
Owners: none

static gap
  libs/blocks/section-metadata/section-metadata.css
Owners: none

stash
  libs/features/personalization/personalization.js
  libs/martech/martech.js
  libs/utils/utils.js
Owners: @adobecom/admins

CODEOWNERS:

# Milo CODEOWNERS
# When you create a new block or tool please establish ownership in this file.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Milo Core (alphabetical order)
/fstab.yaml @adobecom/admins
/libs/features/ @adobecom/admins
/libs/features/seotech/ @hparra
/libs/features/title-append/ @hparra
/libs/martech/ @adobecom/admins
/libs/scripts/ @adobecom/admins
/libs/scripts/taxonomy.js @meganthecoder @JasonHowellSlavin @Brandon32 @rgclayton
/libs/utils/ @adobecom/admins

# Milo Blocks (alphabetical order)
/libs/blocks/accordion/ @fullcolorcoder @ryanmparrish
/libs/blocks/article-feed/ @meganthecoder @JasonHowellSlavin @Brandon32 @rgclayton
/libs/blocks/article-header/ @meganthecoder @JasonHowellSlavin @Brandon32 @rgclayton
/libs/blocks/aside/ @Sartxi
/libs/blocks/bulk-publish-v2 @Sartxi
/libs/blocks/caas/ @chrischrischris
/libs/blocks/caas-config/ @chrischrischris
/libs/blocks/carousel/ @rgclayton
/libs/blocks/chart/ @meganthecoder @Brandon32 @JasonHowellSlavin
/libs/blocks/commerce/ @adobecom/tacocat
/libs/blocks/faas/ @seanchoi-dev
/libs/blocks/faas-config/ @seanchoi-dev
/libs/blocks/featured-article/ @meganthecoder @JasonHowellSlavin @Brandon32 @rgclayton
/libs/blocks/form/ @elan-tbx @rgclayton
/libs/blocks/fragment-personalization/ @chrischrischris
/libs/blocks/global-footer/ @salonijain3 @bandana147 @sharmrj @nishantka @Deva309 @sonawanesnehal3
/libs/blocks/global-navigation/ @salonijain3 @bandana147 @sharmrj @nishantka @Deva309 @sonawanesnehal3
/libs/blocks/how-to/ @fullcolorcoder @ryanmparrish
/libs/blocks/icon-block/ @elan-tbx
/libs/blocks/local-nav/ @seanchoi-dev
/libs/blocks/marketo/ @Brandon32 @meganthecoder @JasonHowellSlavin
/libs/blocks/marketo-config/ @Brandon32 @meganthecoder @JasonHowellSlavin
/libs/blocks/marquee/ @ryanmparrish @Sartxi @auniverseaway
/libs/blocks/media/ @ryanmparrish
/libs/blocks/merch/ @adobecom/tacocat
/libs/blocks/merch-card/ @adobecom/tacocat
/libs/blocks/merch-card-collection/ @adobecom/tacocat
/libs/blocks/merch-offers/ @adobecom/tacocat
/libs/blocks/mnemonic-list/ @adobecom/tacocat
/libs/blocks/ost/ @adobecom/tacocat
/libs/blocks/pdf-vewer/ @meganthecoder @JasonHowellSlavin @Brandon32
/libs/blocks/quiz/ @colloyd @sabyamon @fullcolorcoder @JackySun9
/libs/blocks/quiz-entry/ @colloyd @fullcolorcoder @JackySun9
/libs/blocks/quiz-marquee/ @ryanmparrish
/libs/blocks/quiz-results/ @colloyd @sabyamon @fullcolorcoder @JackySun9
/libs/blocks/quote/ @ryanmparrish
/libs/blocks/recommended-articles/ @meganthecoder @JasonHowellSlavin @Brandon32 @rgclayton
/libs/blocks/review/ @nkthakur48 @chrischrischris @auniverseaway
/libs/blocks/table-of-contents/ @Brandon32 @meganthecoder @JasonHowellSlavin
/libs/blocks/tabs/ @ryanmparrish
/libs/blocks/tag-selector/ @meganthecoder @JasonHowellSlavin @Brandon32
/libs/blocks/tags/ @meganthecoder @JasonHowellSlavin @Brandon32 @rgclayton
/libs/blocks/text/ @ryanmparrish
/libs/blocks/video-metadata/ @hparra
/libs/blocks/z-pattern/ @ryanmparrish

# Milo Tools (alphabetical order)
/tools/caas-import/ @chrischrischris
/tools/send-to-caas/ @chrischrischris
